::selection{
    background-color: mediumpurple;
}
li {
    display: block;
    position: relative;
    width: 200px;
    background-color: rgba(0,0,0,0.1);
    height: 30px;
    padding: 3px;
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
ul.sous_menu {
    display: none;
    position: relative;
}
li:hover {
    color: rgb(0,255,255);
    background-color: rgba(0,0,255,0.2);
}
li:hover > ul.sous_menu {
    display: block;
    position: absolute;
    top: 0px;
    left: 85%;
}
body{
    background-image: url("images/Fond.png");
    background-repeat: no-repeat;
    margin-left: 20px;
    font-size: 18px;
}
img{
    height: 20px;
    width: 20px;
    margin-right: 3px;
    margin-top: 3px;
}
.arrow{
    float: right;
    width: 15px;
    height: 15px;
}
a{
    text-decoration: none;
    color: white;
}
li:hover > a{
    color: rgb(0,255,255);
}